.artists_wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
}

@media (min-width: 0) and (max-width: 779px) {
	.artists_wrap{
		width: 100%;
		justify-content: space-between;
	}
}