.this_2_artist_wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
}

@media (min-width: 0) and (max-width: 779px) {

	.artist_container{
		padding: 0;

		.this_2_artist_wrap{
			width: 100%;
			justify-content: space-between;
		}
	}
}
