.cen_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
    padding: 1.5rem 0;

    li {
        width: 31%;
        margin: 1rem 0;
        text-align: center;
        color: $white-2;
        border-radius: 6px;
        border: 1px solid $white-2;
        opacity: 0;  // 애니메이션 초기값
        cursor: pointer;
        transform: translateY(20px);
        transition: all 300ms ease;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition-delay: #{$i * 0.1}s;
            }
        }

        &:hover {
            color: $white-1;
            opacity: 1;
			border: 1px solid $main-color;
            box-sizing: border-box;
        }

        button {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 1.5rem 0;
            color: inherit;  // 부모의 색상 상속
			font-size: $sub-title-text-1;
			font-weight: $font-medium;
            
            &:hover {
                color: $white-1;
                background-color: $main-color;
            }
        }
    }

    .active & li {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 0) and (max-width: 779px) {
	.cen_list {
		justify-content: space-between;
		max-width: 100%;
		padding: 1.5rem;
	
		li {
			width: 48%;
			margin: 0.7rem 0;
			text-align: center;
	
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay: #{$i * 0.1}s;
				}
			}
	
			&:hover {
				color: $white-1;
				opacity: 1;
				border: 1px solid $main-color;
				box-sizing: border-box;
			}
	
			button {
				padding: 0.7rem 0;
				font-size: $contents-text2;
				
				&:hover {
					color: $white-1;
					background-color: $main-color;
				}
			}
		}
	
		.active & li {
			opacity: 1;
			transform: translateY(0);
		}
	}
}