// font-size
$contents-text: 1rem;
$sub-title-text-1: 1.563rem; // 25px
$sub-title-text-2: 1.875rem; // 30px
$sub-title-text-3: 2.5rem; // 40px
$title-text: 3.125rem; // 50px


// font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;



// 색상 관련
$main-color: #e00a55;
$sub-color: #ac55e3;

$black-1: #222;
$black-2: #444;

$white-1: #fff;
$white-2: #eee;


$max-width: 1300px;