h2{
	margin: 3rem 0;
	text-align: left;
	text-transform: capitalize;
}

.arts_info_box{
	width: 50%;
	padding-right: 2rem;

	.sub_info_box{
		margin-bottom: 1.5rem;

		.sub_info_title{
			font-size: $sub-title-text-1;
			font-weight: $font-bold;
		}

		.sub_info_value{
			margin-top: 10px;
		}
	}
}