h2{
	margin: 3rem 0;
	text-align: left;
}

.arts_info_box{
	width: 50%;
	padding-right: 2rem;

	.sub_info_box{
		margin-bottom: 1rem;

		.sub_info_title{
			font-weight: $font-bold;
		}

		.sub_info_value{
			margin-top: 5px;
		}
	}
}