.arts_sub_info{
	width: 50%;
	padding: 0 2rem;
	border-left: 1px solid #e8e8e8;

	.arts_sub_info_box{

		margin-bottom: 30px;

		.sub_info_title{
			margin-bottom: 1rem;
			font-size: $sub-title-text-1;
			font-weight: $font-bold;
		}
	}

}