.info_box{
	width: 32%;
	padding: 0 0 20px 0;
	// border-bottom: 1px solid $black-1;

	&:last-child{
		border-bottom: none;
	}
	
	.info_title_Box{
		display: flex;
		align-items: center;
		margin-bottom: 1.25rem;

		.info_icon{
			width: 25px;
			height: 25px;
		}

		.info_title{
			margin-left: 10px;
			span{
				font-size: $contents-text2;
				font-weight: $font-medium;
				text-transform: capitalize;
			}

		}
	}

	.info_contents{
		margin-bottom: 10px;
		font-size: $contents-text;
		font-weight: $font-light;
		line-height: auto;
		text-transform: capitalize;
	}
}