header{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	background-color: #eee;

	.logo_menu{
		display: flex;
		justify-content: space-between;
		width: 35%;
		background-color: pink;

		.logo{
			background-color: lime;
			width: 100px;
			height: 100px;
			display: inline-block;
		}
	
		.menu{
	
			width: 300px;
			background-color: red;
			ul{
				display: flex;
				justify-content: space-evenly;
			}
		}
	}


	.sns_store{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 35%;
		background-color: skyblue;

		ul{
			display: flex;
			justify-content: space-evenly;
			width: 300px;

			svg{
				width: 1.5rem;
				height: 1.5rem;
			}
			
		}
	}

}

