@use '../abstracts/fonts/' as *;

*{
	@include garamond(400);
}

img{
	width: 100%;
}

.container{
	max-width: $max-width;
	margin: 0 auto;
}

// 슬라이더 폰트

.swiper {
    * {
        @include garamond(400);
    }
}


.swiper-wrapper {
	margin: 0 0 60px 0;
}